* {
  box-sizing: border-box;
}

body {
  background-color: #17202a;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}

nav {
  text-align: center;
  background-color: #566573;
}

nav a {
  border-color: black;
  text-decoration: none;
  color: #b2babb;
  display: inline-block;
  text-align: center;
  padding: 17px 25px;
  border-radius: 25px;
}

nav a:hover {
  background-color: #808b96;
  transition-duration: 0.5s;
  color: #17202a;
}
